body {
  background-color: #121212; /* Color de fondo oscuro */
  color: #ffffff; /* Color de texto claro */
  font-family: 'Arial', sans-serif; /* Fuente general */
  margin: 80px auto;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; /* Altura completa de la ventana */
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #1e1e1e; /* Fondo del contenedor */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
  width: 600px; /* Ancho fijo para el contenedor */
}
.containerInputs {
  display: flex;
  flex-direction: row;
}
#input1 {
  width: 80%;
}
#input2 {
  width: 20%;
  margin-left: 2%;
  padding-right: 12px;
}
#portada {
  width: 35rem;
}

.container h1 {
  text-align: center;
  font-size: 2.2em;
  margin: 25px;
}
.container h3 {
  text-align: center;
  font-size: 1.6em;
  margin: auto;
  margin-bottom: 20px;
}

.container input {
  text-align: right;
  width: 100%; /* Ancho completo del contenedor */
  padding: 12px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  background-color: #333; /* Fondo de los inputs */
  color: #ffffff; /* Color de texto en inputs */
  font-size: 16px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

h2,
p,
.attributes {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: #ffffff;
  font-size: 14px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

input::placeholder {
  color: #aaaaaa; /* Color del placeholder */
}

.container button {
  width: 100%; /* Ancho completo del contenedor */
  padding: 12px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  /* background-color: #6200ea; */
  /* background-color: #00fefb; */
  background-color: #3de2e5;
  color: #050056; /* Color de texto del botón */
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

button:hover {
  /* background-color: #3700b3; Color del botón al pasar el ratón */
  background-color: #050056; /* Color del botón al pasar el ratón */
  color: #ffffff; /* Color de texto del botón */
}

.nft-container {
  margin: 20px, auto;
}

.nft-container img {
  max-width: 100%;
  height: auto;
  margin: 20px auto;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.7);
}

.nft-container h2 {
  margin: 10px 0;
  font-size: 1.5em;
  font-weight: bold;
}

.nft-container p {
  margin: 10px 0;
  font-size: 1.2em;
  font-weight: bold;
  color: #cccccc; /* Color de descripción */
}

.containerButtons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 6px;
  padding: 12px;
  margin: 10px 0;
  /* border: none; */
  border-radius: 5px;
  background-color: #333;
  /* color: #ffffff; */
  /* font-size: 16px; */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.loading-container {
  position: relative;
}

.spinner-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;
  border-radius: 100%;
  display: inline-block;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  animation-delay: -0.16s;
}

@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}
